#progress {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 60%;
    display: flex;
    justify-content: center;
}
.progress {
    width: 400px;
    padding: 2em;
    background-color: white;
    font-family: $main-font;
    box-shadow: 5px 5px 3px #000000;
}