#app {
  display: flex;
  flex-flow: row wrap;
}
.quad {
  display: flex;
  flex-flow: column nowrap;
  border: 1px black solid;
  width: 50%;
  padding: 5em;
  height: 70%;
}

.buttons-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
